<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="featureToggle" type="FeatureToggle.Config.FeatureToggleConfigurationSection, FeatureToggle" />
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="FeatureToggleConnectionStringHome" connectionString="Data Source=777-HOMEPC;initial catalog=TestDb;Integrated Security=true;" providerName="System.Data.SqlClient" />
    <add name="FeatureToggleConnectionStringWork" connectionString="Data Source=BaseTrade;initial catalog=TestDb;Integrated Security=false;uid=BaseTrade;password=1q2w3e4r+;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <featureToggle>
    <ConnectionStringName value="FeatureToggleConnectionStringHome"/>
    <VarcharSize value="256"/>
    <CasheLifeTime value="0.00:00:00"/>
  </featureToggle>
</configuration>